* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

/* Navbar */
header {
    background-color: rgb(235, 118, 160);
    border-bottom: 1px solid #CCC;
}

.navbar-brand img {
    width: 70px;
    height: auto;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

#navbar a {
    font-size: 18px;
    color: #ffffff;
    width: 100%;
}

#navbar a:hover {
    color: rgb(241, 35, 111);
    background-color: #ffffff21;
    border-radius: 5px;
}


/*Botões*/
.btn-primary {
    background-color: rgb(235, 118, 160);
    border: 2px solid rgb(235, 118, 160);
    margin-top: 10px;
    width: 200px;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(235, 118, 160);
    border-color: rgb(248, 142, 181);
}

.saiba-mais {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


/* Titulo de cada página */
.titulo {
    font-size: 2rem;
    color: rgb(235, 118, 160);
}

/* Container */
#cards-container {
    padding-top: 30px;
}

.row {
    margin: 0;

}

.container {
    position: relative;
}

/* Tabelas */
.table {
    margin-top: 20px;
}

.table thead th {
    background-color: rgba(255, 105, 160, 0.397);
    border: #f874d167 solid 1px;
    color: #000000;

}


/* Botões de ações da tabela */
/*  Editar */

.btn-action-edit {
    background-color: rgb(242, 181, 204);
    margin-right: 5px;
    color: white;
}


.img-preview {
    width: 200px;
    border: 3px rgba(189, 18, 138, 0.137) solid;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 60px;
}


/* Deletar */
.btn-delete {
    background-color: rgb(170, 5, 96);
    margin-left: 5px;
    color: white;
}

.btn-action-delete {
    background-color: rgb(186, 27, 138);
    color: white;
}

.btn-nao-deletar {
    background-color: rgb(247, 241, 244);
    color: rgb(0, 0, 0);
}

/* Footer */

footer {
    text-align: center;
    background-color: rgb(243, 52, 122);
    color: #FFF;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}