body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: rgb(230, 60, 128);
    padding: 20px 0;
}

.header h1 {
    color: #fff;
    margin: 0;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 20px;
}

.menu-item h2 {
    color: #e63c80;
}

.menu-item p {
    color: #555;
    text-align: justify;
    /* Justificar a descrição */
}

.menu-item strong {
    color: #e63c80;
}

.menu-item span {
    float: right;
    color: #e63c80;
}

.menu-item .kg-label,
.menu-item .preco-label {
    color: #e63c80;
}